accelerate
crawl4ai
exa-py
google-search-results
json-repair
langchain-text-splitters
matplotlib
mammoth
mmh3
openai
pdfminer.six
puremagic
pydub
python-dotenv
python-pptx
scikit-learn
SpeechRecognition
tavily-python
transformers
youtube-transcript-api
markdownify
